/* Контейнер */
.static-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Высота секции — 100% высоты экрана */
  overflow: hidden;
}

/* Фоновое изображение */
.background {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('https://www.ajmanproperties.ae/frontend/assets/files/Lifestyle-Blogs-Sep-2024/Capsule-House--What-Are-They-and-Why-People-Are-Preferring-Them-ajman-properties-(1).jpg'); /* пример изображения */

  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Размытие изображения */
  z-index: -1; /* За другими элементами */
}

/* Текст поверх изображения */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрирование текста */
  text-align: center;
  color: white;
  z-index: 1; /* Поверх фона */
}

.text-overlay h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.text-overlay p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media (max-width: 1298px) {
  .text-overlay h1 {
      font-size: 2rem;
  }
  .text-overlay p {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .static-section {
    height: 50vh;
  }
}

@media (max-width: 1298px) {
  .text-overlay h1 {
      font-size: 1.8rem;
  }
}

@media (max-width: 1298px) {
  .text-overlay h1 {
      font-size: 1.3rem;
  }
}
